### The 5 main operator types in Python are:

- arithmetic operators

- comparison operators

- assignment operators

- logical operators

- bitwise operators

# Arithmetic Operators

In [2]:
print(10 + 5)

float1 = 13.65
float2 = 3.40
print(float1 + float2)

num = 20
flt = 10.5
print(num + flt)
num1 = 10
num2 = 3
print(num1 // num2)

15
17.05
30.5
3

In [7]:
print(10 - 5)

float1 = -18.678
float2 = 3.55
print(float1 - float2)

num = 20
flt = 10.5
print(num - flt)

5
-22.228
9.5

In [8]:
print(40 * 10)

float1 = 5.5
float2 = 4.5
print(float1 * float2)

print(10.2 * 3)

400
24.75
30.599999999999998

In [9]:
print(40 / 10)

float1 = 5.5
float2 = 4.5
print(float1 / float2)
print(12.4 / 2)

4.0
1.2222222222222223
6.2

In [10]:
print(43 // 10)

float1 = 5.5
float2 = 4.5
print(5.5 // 4.5)
print(12.4 // 2)

4
1.0
6.0

In [11]:
print(10 % 2)

twenty_eight = 28
print(twenty_eight % 10)

print(-28 % 10)  # The remainder is positive if the right-hand operand is positive
print(28 % -10)  # The remainder is negative if the right-hand operand is negative
print(34.4 % 2.5)  # The remainder can be a float

0
8
2
-2
1.8999999999999986

In [12]:
# Different precedence
print(10 - 3 * 2)  # Multiplication computed first, followed by subtraction

# Same precedence
print(3 * 20 / 5)  # Multiplication computed first, followed by division
print(3 / 20 * 5)  # Division computed first, followed by multiplication

4
12.0
0.75

In [13]:
print((10 - 3) * 2)  # Subtraction occurs first
print((18 + 2) / (10 % 8))

14
10.0

# Comparison Operators

In [14]:
num1 = 5
num2 = 10
num3 = 10
list1 = [6,7,8]
list2 = [6,7,8]

print(num2 > num1)  # 10 is greater than 5
print(num1 > num2)  # 5 is not greater than 10

print(num2 == num3)  # Both have the same value
print(num3 != num1)  # Both have different values

print(3 + 10 == 5 + 5)  # Both are not equal
print(3 <= 2)  # 3 is not less than or equal to 2

print(num2 is not num3)  # Both have the same object
print(list1 is list2)  # Both have the different objects

True
False
True
True
False
False
False
False

# Assignment Operators

In [15]:
year = 2019
print(year)

year = 2020
print(year)

year = year + 1  # Using the existing value to create a new one
print(year)

2019
2020
2021

In [16]:
first = 20
second = first
first = 35  # Updating 'first'

print(first, second)  # 'second' remains unchanged

35 20

In [17]:
num = 10
print(num)

num += 5
print(num)

num -= 5
print(num)

num *= 2
print(num)

num /= 2
print(num)

num **= 2
print(num)

# Try all the others here!

10
15
10
20
10.0
100.0

# Logical Operators

In [18]:
# OR Expression
my_bool = True or False
print(my_bool)

# AND Expression
my_bool = True and False
print(my_bool)

# NOT expression
my_bool = False
print(not my_bool)

True
False
True

In [19]:
print(10 * True)
print(10 + "23")

10

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Bitwise Operators

In [20]:
num1 = 10  # Binary value = 01010
num2 = 20  # Binary Value = 10100

print(num1 & num2)   # 0   -> Binary value = 00000
print(num1 | num2)   # 30  -> Binary value = 11110
print(num1 ^ num2)   # 30  -> Binary value = 11110
print(~num1)         # -11 -> Binary value = -(1011)
print(num1 << 3)     # 80  -> Binary value = 0101 0000
print(num2 >> 3)     # 2   -> Binary value = 0010

0
30
30
-11
80
2

# String Operations

In [21]:
print('a' < 'b')  # 'a' has a smaller Unicode value

house = "Gryffindor"
house_copy = "Gryffindor"

print(house == house_copy)

new_house = "Slytherin"

print(house == new_house)

print(new_house <= house)

print(new_house >= house)

True
True
False
False
True

In [22]:
first_half = "Bat"
second_half = "man"

full_name = first_half + second_half
print(full_name)

Batman

In [23]:
print("ha" * 3)

hahaha

In [24]:
random_string = "This is a random string"

print('of' in random_string)  # Check whether 'of' exists in randomString
print('random' in random_string)  # 'random' exists!

False
True

# Grouping Values

In [25]:
my_list = [1, 2.5, "A string", True]
print(my_list)

[1, 2.5, 'A string', True]

In [26]:
my_list = [1, 2.5, "A string", True]
print(my_list[2])
print(len(my_list))

A string
4

# Practice

In [27]:
my_string = "0123456789"
print(my_string[-2: -6: -2])

86

In [33]:
x = 20
y = 5
result = (x + True) / (4 - y * False)
print(x + True)
print(4 - y * False)
print(result)

21
4
5.25

#### Python Operators Precedence Rule – PEMDAS
- You might have heard about the BODMAS rule in your school’s mathematics class. Python also uses a similar type of rule known as PEMDAS.

- P – Parentheses
- E – Exponentiation
- M – Multiplication
- D – Division
- A – Addition
- S – Subtraction

# Exercise: Gravitational Force

## Problem Statement
- Gravitational force is the attractive force that exists between two masses. It can be calculated by using the following formula:

* GMm/r*r
 

- where G is the gravitational constant, M and m are the two masses, and r is the distance between them.

- You must implement this equation in Python to calculate the gravitational force between Earth and the moon.

## Sample Input
- G = 6.67 * 10-11

- MEarth = 6.0 * 1024

- mMoon = 7.34 * 1022

- r = 3.84 * 108

## Sample Output
- FG = 1.99 * 1020

## Coding Challenge
- All the values have already been given to you. You must write the formula in Pythonic syntax and store the answer in the grav_force variable.

- If you feel stuck, refer to the solution review in the next lesson.

- Good luck!

In [36]:
G = 6.67 * (10 ** -11)
M = 6.0 * (10 ** 24)  # Mass of Earth
m = 7.34 * (10 ** 22)  # Mass of the moon
r = 3.84 * (10 ** 8)

grav_force = (G * M * m) / (r ** 2)
print(grav_force)

1.9920979817708333e+20